.details-image {
  object-fit: cover;
  max-width: 990px;
  width: 100vw;
}

.styled-details-info-container_headline {
  margin-top: 2rem;
}

.styled-details-info-container_headline h3 {
  margin-top: 1rem;
  color: rgb(111, 111, 111);
}
