.comments {
  margin: 2rem;
}

.comments li {
  padding: 2.5rem 0 2.5rem;
  border-bottom: solid 1px lightgray;
}

.submit-button {
  margin-top: 1rem;
  align-self: center;
  background-color: lightgray;
  border: none;
  padding: 0.5rem 2rem;
  color: rgb(111, 111, 111);
}
.comment-form {
  width: 100vw;
}
textarea {
  width: 50%;
  resize: none;
  padding: 1rem;
  margin-top: 1rem;
  align-self: center;
  font-family: "Montserrat";
}

textarea:focus {
  border: none;
}
