@import "./ArtPiecePreview.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  font-family: "Montserrat";
  display: flex;
  justify-content: center;
  background-color: white;
}

textarea {
  row: 10;
  width: 50%;
  resize: none;
  padding: 1rem;
  margin-top: 1rem;
  align-self: center;
  font-family: "Montserrat";
}
label {
  align-self: center;
}

.link {
  text-decoration: none;
}

li {
  list-style: none;
}
